.reset-password {
  display: flex;
  position: relative;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-image: url("/assets/background-login.jpg");
  background-position: center;
  background-size: cover;
}


form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 465px;
  margin: 35px 0;
}

form label {
  font-size: 18px;
  color: #ffffff;
}

input {
  margin-top: 5px;
  padding: 0 15px;
  width: 200px;
  height: 36px;

  border: 1px solid #fcb62b;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

form button {
  width: 244px;
  height: 40px;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

