<div class="container-dashboard">
  <div class="flexRow">
    <div class="col">
      <div class="titleInfos">INFORMATIVO</div>
      <div class="flexCol infos">
        <div></div>
      </div>
    </div>

    <div class="col">
      <div class="titleInfos">SOLICITAÇÕES</div>
      <div class="flexCol infos">
        <div></div>
      </div>
    </div>

    <div class="col">
      <div class="titleInfos">DOCUMENTOS</div>
      <div class="flexCol infos">
        <div></div>
      </div>
    </div>
  </div>
</div>
